{% extends  'base.html' %}
{% load static %}

{% block title %}
    <title>Update Customer</title>
{% endblock title %}

{% block styles %}
{% endblock styles %}

{% block content %}

    {% include 'sidebar.html' %}

    <div class="content-wrapper" style="min-height: 201px;">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Dashboard</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard v1</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <span> {% include 'messages.html' %} </span>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->

                <div class="body-content px-3 py-3">


                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="card">
                                <div class="card-header py-2">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <h6 class="fs-17 font-weight-600 mb-0">Update Customer</h6>
                                        </div>
                                        <div class="text-right">
                                            <a href="{% url 'customer:customer-list' %}"
                                               class="btn btn-success btn-sm mr-1"><i
                                                    class="fas fa-align-justify mr-1"></i>Customer List</a>
                                            <a href="{% url 'customer:paid-customer' %}"
                                               class="btn btn-primary btn-sm mr-1"><i
                                                    class="fas fa-align-justify mr-1"></i>Paid Customer</a>
                                            <a href="{% url 'customer:credit-customer' %}"
                                               class="btn btn-info btn-sm"><i class="fas fa-align-justify mr-1"></i>Credit
                                                Customer</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form action="{% url 'customer:edit-customer' customer.id %}" id="edit_customer_form"
                                          enctype="multipart/form-data" method="post" accept-charset="utf-8">

                                        {% csrf_token %}

                                        <div class="form-group row">
                                            <label for="customer_name" class="col-md-2 text-right col-form-label">Customer
                                                Name <i class="text-danger"> * </i>:</label>
                                            <div class="col-md-4">
                                                <div class="">
                                                    <input type="text" name="customer_name" class="form-control"
                                                           id="customer_name" placeholder="Customer Name" value="{{ customer.name }}">
                                                </div>
                                            </div>
                                            <label for="customer_mobile" class="col-md-2 text-right col-form-label">Mobile
                                                No <i class="text-danger"> * </i>:</label>
                                            <div class="col-md-4">
                                                <div class="">
                                                    <input type="text" name="customer_mobile"
                                                           class="form-control text-left numberField"
                                                           id="customer_mobile" placeholder="Mobile No" value="{{ customer.mobile_number }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="customer_email" class="col-md-2 text-right col-form-label">Email
                                                Address1:</label>
                                            <div class="col-md-4">
                                                <div class="">
                                                    <input type="email" class="form-control input-mask-trigger"
                                                           name="first_email" id="first_email"
                                                           placeholder="Email" value="{{ customer.first_email }}">
                                                </div>
                                            </div>
                                            <label for="email_address" class="col-md-2 text-right col-form-label">Email
                                                Address2:</label>
                                            <div class="col-md-4">
                                                <div class="">
                                                    <input type="text" class="form-control" name="second_email"
                                                           id="second_email" placeholder="Email Address" value="{{ customer.second_email }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="phone" class="col-md-2 text-right col-form-label">Phone:</label>
                                            <div class="col-md-4">
                                                <div class="">

                                                    <input class="form-control numberField text-left" id="phone"
                                                           type="number" name="phone" placeholder="Phone"
                                                           value="{{ customer.phone }}">
                                                </div>
                                            </div>
                                            <label for="contact"
                                                   class="col-md-2 text-right col-form-label">Contact:</label>
                                            <div class="col-md-4">
                                                <div class="">
                                                    <input class="form-control" id="contact" type="text" name="contact"
                                                           placeholder="Contact" value="{{ customer.contact }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="address1" class="col-md-2 text-right col-form-label">Address
                                                1:</label>
                                            <div class="col-md-4">
                                                <div class="">
                                                    <textarea name="first_address" id="first_address"
                                                              class="form-control" placeholder="Address 1">{{ customer.first_address }}</textarea>
                                                </div>
                                            </div>
                                            <label for="address2" class="col-md-2 text-right col-form-label">Address
                                                2:</label>
                                            <div class="col-md-4">
                                                <div class="">
                                                    <textarea name="second_address" id="second_address" class="form-control"
                                                              placeholder="Address 2">{{ customer.second_address }}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="fax" class="col-md-2 text-right col-form-label">Fax:</label>
                                            <div class="col-md-4">
                                                <div class="">
                                                    <input type="text" name="fax" class="form-control" id="fax"
                                                           placeholder="Fax" value="{{ customer.fax }}">
                                                </div>
                                            </div>
                                            <label for="city" class="col-md-2 text-right col-form-label">City:</label>
                                            <div class="col-md-4">
                                                <div class="">
                                                    <input type="text" name="city" class="form-control" id="city"
                                                           placeholder="City" value="{{ customer.city }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="state" class="col-md-2 text-right col-form-label">State:</label>
                                            <div class="col-md-4">
                                                <div class="">
                                                    <input type="text" name="state" class="form-control" id="state"
                                                           placeholder="State" value="{{ customer.state }}">
                                                </div>
                                            </div>
                                            <label for="zip" class="col-md-2 text-right col-form-label">Zip:</label>
                                            <div class="col-md-4">
                                                <div class="">
                                                    <input name="zip" type="text" class="form-control" id="zip"
                                                           placeholder="Zip" value="{{ customer.zip }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="country"
                                                   class="col-md-2 text-right col-form-label">Country:</label>
                                            <div class="col-md-4">
                                                <div class="">
                                                    <input name="country" type="text" class="form-control "
                                                           placeholder="Country" id="country" value="{{ customer.country }}">
                                                </div>
                                            </div>
                                            <label for="previous_balance" class="col-md-2 text-right col-form-label">Current
                                                Balance:</label>
                                            <div class="col-md-4">
                                                <div class="">
                                                    <input name="previous_balance" type="text"
                                                           class="form-control text-right"
                                                           placeholder="Current Balance" value="{{ customer.current_balance }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-6 text-right">
                                            </div>
                                            <div class="col-md-6 text-right">
                                                <div class="">
                                                    <button type="submit" class="btn btn-success">
                                                        Update
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>


{% endblock content %}

{% block scripts %}

{% endblock scripts %}