{% extends  'base.html' %}
{% load static %}
{% block title %}
    <title>Update User</title>
{% endblock title %}


{% block styles %}
{% endblock styles %}

{% block content %}

    {% include 'sidebar.html' %}

    <div class="content-wrapper" style="min-height: 201px;">
        <!-- Content Header (Page header) -->
        {% include 'navbar.html' %}
        <!-- /.content-header -->

        <span> {% include 'messages.html' %} </span>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="body-content px-3 py-3">


                    <div class="row">
                        <div class="card col-md-12 col-lg-12">
                            <div class="card-header py-2">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h6 class="fs-17 font-weight-600 mb-0">Update User</h6>
                                    </div>
                                    <div class="text-right">
                                        <a href="{% url 'users_auth:users_list' %}"
                                           class="btn btn-success btn-sm mr-1"><i class="fas fa-align-justify mr-1"></i>User
                                            List</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <form action="{% url 'users_auth:update_user' object.id %}"
                                      enctype="multipart/form-data" method="post" accept-charset="utf-8"> {% csrf_token %}
                                    <div class="form-group row">
                                        <label for="firstname" class="col-sm-3 col-form-label">First Name <i
                                                class="text-danger">*</i></label>
                                        <div class="col-sm-9">
                                            <input name="firstname" class="form-control" type="text"
                                                   placeholder="firstname" id="firstname" value="{{ object.user.first_name }}" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="lastname" class="col-sm-3 col-form-label">Last Name <i
                                                class="text-danger">*</i></label>
                                        <div class="col-sm-9">
                                            <input name="lastname" class="form-control" type="text"
                                                   placeholder="lastname" id="lastname" value="{{ object.user.last_name }}" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="email" class="col-sm-3 col-form-label">Email <i class="text-danger">*</i></label>
                                        <div class="col-sm-9">
                                            <input name="email" class="form-control" type="email" placeholder="email"
                                                   id="email" value="{{ object.user.email }}" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="password" class="col-sm-3 col-form-label">Password <i
                                                class="text-danger">*</i></label>
                                        <div class="col-sm-9">
                                            <input name="password" class="form-control" type="password"
                                                   placeholder="Password" id="password">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="about" class="col-sm-3 col-form-label">About</label>
                                        <div class="col-sm-9">
                                            <textarea name="about" placeholder="About" class="form-control"
                                                      id="about">{{ object.details }}</textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="preview" class="col-sm-3 col-form-label">Preview</label>
                                        <div class="col-sm-9">
                                            <img src="{{ object.image_url }}"
                                                 class="img-thumbnail" width="125" height="100">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="image" class="col-sm-3 col-form-label">Image</label>
                                        <div class="col-sm-9">
                                            <input type="file" name="image" id="image" aria-describedby="fileHelp">
                                            <small id="fileHelp" class="text-muted"></small>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="status" class="col-sm-3 col-form-label">Is Admin <i
                                                class="text-danger">*</i></label>
                                        <div class="col-sm-9">
                                            <label class="radio-inline">
                                                <input type="radio" name="is_admin" value="1" {% ifequal object.role 1 %} checked {% endifequal %}
                                                       id="is_admin">
                                                Admin
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="is_admin" value="2" id="is_admin" {% ifequal object.role 2 %} checked {% endifequal %}>
                                                User
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="status" class="col-sm-3 col-form-label">Status <i
                                                class="text-danger">*</i></label>
                                        <div class="col-sm-9">
                                            <label class="radio-inline">
                                                <input type="radio" name="status" value="1"
                                                       {% if object.is_active %} checked="checked" {% endif %}
                                                       id="status">
                                                Active
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="status" value="0" id="status"
                                                        {% if not object.is_active %} checked="checked" {% endif %}>
                                                Inactive
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group text-right">
                                        <button type="reset" class="btn btn-primary w-md m-b-5">Reset</button>
                                        <button type="submit"
                                                class="btn btn-success w-md m-b-5"> Update
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </section>
    </div>

{% endblock content %}

{% block scripts %}

{% endblock scripts %}