{% extends  'base.html' %}

{% block title %}
    <title>Manufacturer List</title>
{% endblock title %}


{% block styles %}
{% endblock styles %}

{% block content %}

    {% include 'sidebar.html' %}

    <div class="content-wrapper" style="min-height: 201px;">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Dashboard</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard v1</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <span> {% include 'messages.html' %} </span>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->

                <div class="body-content px-3 py-3">


                    <div class="row">
                        <div class="col-md-12 col-md-12">
                            <div class="card ">
                                <div class="card-header py-2">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <h6 class="fs-17 font-weight-600 mb-0">{{ category }}</h6>
                                        </div>
                                        <div class="text-right">
                                            <a href="{% url 'manufacturer:add-manufacturer' %}"
                                               class="btn btn-success btn-sm mr-1"><i class="fas fa-plus mr-1"></i>Add
                                                Manufacturer</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <div id="CustomerList_wrapper" class="dataTables_wrapper dt-bootstrap4">

                                            <table class="table display table-bordered table-striped table-hover"
                                                   cellspacing="0" width="100%" id="ManufacturerList" role="grid"
                                                   aria-describedby="CustomerList_info" style="width: 100%;">
                                                <thead>
                                                <tr role="row">
                                                    <th class="sorting_disabled" rowspan="1" colspan="1"
                                                        style="width: 15px;" aria-label="Sl">Sl
                                                    </th>
                                                    <th width="220px;" class="sorting_asc"
                                                        aria-controls="CustomerList"
                                                        style="" aria-sort="ascending"
                                                        aria-label="Customer Name: activate to sort column descending">
                                                        Customer <br> Name
                                                    </th>
                                                    <th width="90px;" class="sorting_disabled" rowspan="1" colspan="1"
                                                        style="width: 90px;" aria-label="Address 1">Address 1
                                                    </th>
                                                    <th class="sorting_disabled" rowspan="1" colspan="1"
                                                        style="width: 74px;" aria-label="Mobile No">Mobile No
                                                    </th>
                                                    <th class="sorting_disabled" rowspan="1" colspan="1"
                                                        style="width: 122px;" aria-label="Email">Email
                                                    </th>
                                                    <th class="sorting_disabled" rowspan="1" colspan="1"
                                                        style="width: 29px;" aria-label="City">City
                                                    </th>
                                                    <th class="sorting_disabled" rowspan="1" colspan="1"
                                                        style="width: 39px;" aria-label="State">State
                                                    </th>
                                                    <th class="sorting_disabled" rowspan="1" colspan="1"
                                                        style="width: 24px;" aria-label="Zip">Zip
                                                    </th>
                                                    <th class="sorting_disabled" rowspan="1" colspan="1"
                                                        style="width: 64px;" aria-label="Country">Country
                                                    </th>
                                                    <th class="balance text-right sorting_disabled" rowspan="1"
                                                        colspan="1" style="width: 61px;" aria-label="Balance">Balance
                                                    </th>
                                                    <th width="30px;" class="sorting_disabled" rowspan="1" colspan="1"
                                                        style="width: 43px;" aria-label="Action">Action
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>

                                                {% for manufacturer in manufacturers %}

                                                    <tr role="row">
                                                        <td tabindex="0">{{ forloop.counter }}</td>
                                                        <td class="">{{ manufacturer.name }}</td>
                                                        <td>{{ manufacturer.first_address }}</td>
                                                        <td>{{ manufacturer.mobile_number }}</td>
                                                        <td>{{ manufacturer.first_email }}</td>
                                                        <td>{{ manufacturer.city }}</td>
                                                        <td>{{ manufacturer.state }}</td>
                                                        <td>{{ manufacturer.zip }}</td>
                                                        <td>{{ manufacturer.country }}</td>
                                                        <td class=" balance text-right">{{ manufacturer.previous_balance | floatformat:2 }}</td>
                                                        <td>
                                                            <a href="{% url 'manufacturer:edit-manufacturer' manufacturer.id %}"
                                                               class="btn btn-success btn-sm" data-toggle="tooltip"
                                                               data-placement="left" title="Update"><i class="fas fa-edit"
                                                                                                       aria-hidden="true"></i></a>
                                                            <a onclick="return confirm('Are You Sure ?')"
                                                               href="{% url 'manufacturer:remove-manufacturer' manufacturer.id %}"
                                                               class="btn btn-danger btn-sm" data-toggle="tooltip"
                                                               data-placement="right" title="Delete "><i
                                                                    class="far fa-trash-alt" aria-hidden="true"></i></a>
                                                        </td>
                                                    </tr>
                                                {% endfor %}


                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <th colspan="9" class="text-right" rowspan="1">Total:</th>
                                                    <th id="total_balance" class="text-right" rowspan="1"
                                                        colspan="1">BDT {{ total_bills | floatformat:2 }}
                                                    </th>
                                                    <th rowspan="1" colspan="1"></th>
                                                </tr>
                                                </tfoot>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>


{% endblock content %}

{% block scripts %}

    <script>
    $(document).ready(function() {

    // Applying Datatable & calculating Total Balance Dynamically.
    $('#ManufacturerList').DataTable( {
        "footerCallback": function ( row, data, start, end, display ) {
            var api = this.api(), data;

            // Remove the formatting to get integer data for summation
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[\$,]/g, '')*1 :
                    typeof i === 'number' ?
                        i : 0;
            };

            // Total over all pages
            total = api
                .column( 9 )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );

            // Total over this page
            pageTotal = api
                .column( 9, { page: 'current'} )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );

            // Update footer
            $("#total_balance").html(pageTotal)
        }
    } );
} );
</script>
{% endblock scripts %}