{% extends  'base.html' %}
{% load static %}
{% block title %}
    <title>Add Purchase</title>
{% endblock title %}


{% block styles %}
{% endblock styles %}

{% block content %}

    {% include 'sidebar.html' %}

    <div class="content-wrapper" style="min-height: 201px;">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Dashboard</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard v1</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <span> {% include 'messages.html' %} </span>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->

                <div class="body-content px-3 py-3">


                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="card">
                                <div class="card-header py-2">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <h6 class="fs-17 font-weight-600 mb-0">Add Purchase</h6>
                                        </div>
                                        <div class="text-right">
                                            <a href="{% url 'purchase:purchase-list' %}"
                                               class="btn btn-success btn-sm mr-1"><i
                                                    class="fas fa-align-justify mr-1"></i>Purchase List</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form action="{% url 'purchase:add-purchase' %}"
                                          id="purchase_form" enctype="multipart/form-data" method="post"
                                          accept-charset="utf-8"> {% csrf_token %}
                                        <div class="form-group row">
                                            <label for="manufacturer" class="col-md-2 text-right col-form-label">Manufacturer
                                                <i class="text-danger"> * </i>:</label>
                                            <div class="col-md-4">
                                                <div class="">
                                                    <select name="manufacturer_id"
                                                            class="form-control"
                                                            id="manufacturer_id" tabindex="-1">
                                                        <option value="default" selected="selected"
                                                                >Select
                                                            Manufacturer
                                                        </option>
                                                        {% for manufacturer in manufacturers %}

                                                            <option value="{{ manufacturer.id }}">{{ manufacturer.name }}</option>

                                                        {% endfor %}
                                                    </select>

                                                </div>
                                            </div>
                                            <label for="date" class="col-md-2 text-right col-form-label">Date <i
                                                    class="text-danger"> * </i>:</label>
                                            <div class="col-md-4">
                                                <div class="">
                                                    <input type="text" name="date" class="form-control datepicker"
                                                           id="purdate" placeholder="Date" value="" tabindex="2">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="invoice_no" class="col-md-2 text-right col-form-label">Invoice
                                                No<i class="text-danger"> * </i>:</label>
                                            <div class="col-md-4">
                                                <div class="">
                                                    <input type="text" class="form-control valid_number"
                                                           name="invoice_no" id="invoice_no" placeholder="Invoice No"
                                                           value="" tabindex="3">
                                                </div>
                                            </div>
                                            <label for="details"
                                                   class="col-md-2 text-right col-form-label">Details:</label>
                                            <div class="col-md-4">
                                                <div class="">
                                                    <input type="text" class="form-control" name="details" id="details"
                                                           placeholder="Details" value="" tabindex="4">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="payment_type" class="col-md-2 text-right col-form-label">Payment
                                                Type<i class="text-danger"> * </i>:</label>
                                            <div class="col-md-4">
                                                <div class="">
                                                    <select name="payment_type" id="payment_type"
                                                            onchange=""
                                                            class="form-control"
                                                            tabindex="-1" data-select2-id="select2-data-payment_type"
                                                            aria-hidden="true">
                                                        {% for payment_type in payment_types %}
                                                            <option value="{{ payment_type.0 }}">{{ payment_type.1 }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <label for="bank" class="col-md-2 text-right col-form-label d-none" id="bank_label"
                                                   >Bank:</label>
                                            <div class="col-md-4 d-none" id="bank_div">
                                                <div class="">
                                                    <select name="bank_id"
                                                            class="form-control"
                                                            id="bank_id"
                                                            tabindex="-1" aria-hidden="true">
                                                        <option value="" selected="selected"
                                                                data-select2-id="select2-data-6-xio6">Select Bank
                                                        </option>
                                                        {% for bank in banks %}

                                                            <option value="{{ bank.0 }}"> {{ bank.1 }} </option>

                                                        {% endfor %}

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover" id="purchaseTable">
                                                <thead>
                                                <tr>
                                                    <th class="text-center">
                                                        <nobr>Medicine Information<i class="text-danger">*</i></nobr>
                                                    </th>
                                                    <th class="text-center">
                                                        <nobr>Batch Id<i class="text-danger"></i></nobr>
                                                    </th>
                                                    <th class="text-center">
                                                        <nobr>Expiry Date<i class="text-danger">*</i></nobr>
                                                    </th>
                                                    <th class="text-center">
                                                        <nobr>Stock Qty</nobr>
                                                    </th>
                                                    <th class="text-center">
                                                        <nobr>Box Pattern<i class="text-danger">*</i></nobr>
                                                    </th>
                                                    <th class="text-center">
                                                        <nobr>Box Qty<i class="text-danger">*</i></nobr>
                                                    </th>
                                                    <th class="text-center">
                                                        <nobr>Quantity <i class="text-danger">*</i></nobr>
                                                    </th>
                                                    <th class="text-center">
                                                        <nobr>Manufacturer Price<i class="text-danger">*</i></nobr>
                                                    </th>
                                                    <th class="text-center">
                                                        <nobr>Box MRP <i class="text-danger">*</i></nobr>
                                                    </th>
                                                    <th class="text-center">
                                                        <nobr>Total Purchase Price</nobr>
                                                    </th>
                                                    <th class="text-center">
                                                        <nobr>Action</nobr>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody id="addPurchaseItem">
                                                <tr id="row_1">
                                                    <td class="span3 manufacturer">
                                                        <select name="medicine_name[]" class="form-control available_medicine"
                                                                id="medicine_id_1" data-row="1">
                                                            <option>Select Medicine</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="text" name="batch_id[]" id="batch_id_1"
                                                               class="form-control text-right" tabindex="7"
                                                               placeholder="Batch Id">
                                                    </td>
                                                    <td>
                                                        <input type="text" name="expire_date[]" id="expire_date_1"
                                                               class="form-control datepicker"
                                                               tabindex="8" placeholder="Expiry Date"
                                                               onclick="validate_date()"
                                                               required="">
                                                    </td>
                                                    <td class="wt">
                                                        <input type="text" id="available_quantity_1" name="available_quantity[]"
                                                               class="form-control text-right"
                                                               placeholder="0.00" readonly="">
                                                    </td>
                                                    <td>
                                                        <select name="leaf_type[]"
                                                                class="form-control"
                                                                id="leaf_type_1"
                                                                 onchange="calculate_line_total('select', this.id, this.value)"
                                                                 required
                                                                >
                                                        <option value="default" selected="selected"
                                                                data-select2-id="select2-data-8-1uob">Select Leaf Type
                                                        </option>
                                                        {% for leaf in leafs %}

                                                            <option value="{{ leaf.id }}">{{ leaf.leaf_type }} ({{ leaf.number_per_box }})</option>

                                                        {% endfor %}
                                                    </select>

                                                    </td>
                                                    <td class="text-right">
                                                        <input type="text" name="box_quantity[]" id="box_quantity_1"
                                                               class="form-control text-right store_cal_1 valid_number"
                                                               onkeyup="calculate_line_total('input', this.id, this.value)"
                                                               onchange=""
                                                               placeholder="0.00" value="" min="0" tabindex="10"
                                                               required="required">
                                                    </td>
                                                    <td class="text-right">
                                                        <input type="text" name="product_quantity[]" id="quantity_1"
                                                               class="form-control text-right store_cal_1"
                                                               onkeyup=""
                                                               onchange=""
                                                               placeholder="0.00" value="" min="0"
                                                               readonly="">
                                                    </td>
                                                    <td class="test">
                                                        <input type="text" name="product_rate[]"
                                                               onkeyup=""
                                                               onchange=""
                                                               id="product_rate_1"
                                                               class="form-control product_rate text-right valid_number"
                                                               placeholder="0.00" value="" min="0" tabindex="11"
                                                               required="required">
                                                    </td>
                                                    <td><input type="text" class="form-control valid_number mrp"
                                                               name="mrp[]" id="mrp_1" required="" tabindex="12"></td>
                                                    <td class="text-right">
                                                        <input class="form-control total_price text-right" type="text"
                                                               name="total_price[]" id="total_price_1" value="0.00"
                                                               readonly="readonly">
                                                    </td>
                                                    <td>
                                                        <button onclick="remove_rows('purchase', this.id)" type="button" class="btn btn-danger fa fa-trash-alt" tabindex="13" id="1">
                                                            </button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <td class="text-right" colspan="9"><b>Sub Total:</b></td>
                                                    <td class="text-right">
                                                        <input type="text" id="sub_total"
                                                               class="text-right form-control" name="sub_total"
                                                               placeholder="0.00" readonly="">
                                                    </td>
                                                    <td>
                                                        <button id="add_invoice_item" type="button"
                                                                class="btn btn-info" name="add-invoice-item"
                                                                onclick="increase_row('purchase')"
                                                                tabindex="14"><i class="fa fa-plus"></i></button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right" colspan="9"><b>Vat:</b></td>
                                                    <td class="text-right">
                                                        <input type="text" id="vat"
                                                               onkeyup="calculate_grand_total()"
                                                               class="text-right form-control" name="vat"
                                                               placeholder="0.00" tabindex="15">
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right" colspan="9"><b>Discount:</b></td>
                                                    <td class="text-right">
                                                        <input type="text" id="discount"
                                                               onkeyup="calculate_grand_total()"
                                                               class="text-right form-control valid_number"
                                                               name="discount" placeholder="0.00" tabindex="16">
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right" colspan="9"><b>Grand Total:</b></td>
                                                    <td class="text-right">
                                                        <input type="text" id="grandTotal"
                                                               class="text-right form-control" name="grand_total_price"
                                                               value="0.00" readonly="readonly">
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right" colspan="9"><b>Paid Amount:</b></td>
                                                    <td class="text-right">
                                                        <input type="text" id="paid_amount"
                                                               class="text-right form-control valid_number"
                                                               name="paid_amount"
                                                               onkeyup="calculate_due_amount()"
                                                               placeholder="0.00" tabindex="18">
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-right" colspan="9"><b>Due Amount:</b></td>
                                                    <td class="text-right">
                                                        <input type="text" id="due_amount"
                                                               class="text-right form-control" name="due_amount"
                                                               placeholder="0.00" readonly="readonly">
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-6 text-right">
                                            </div>
                                            <div class="col-md-6 text-right">
                                                <div class="">
                                                    <input type="button" id="full_paid_purchase_tab"
                                                           class="btn btn-warning" value="Full Paid" tabindex="17"
                                                           onclick="full_pay()">
                                                    <button type="submit" class="btn btn-success" tabindex="19"
                                                            id="save_purchase">
                                                        Save
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </section>
    </div>

    <script>
        let action = 'add'
    </script>

    <script src="{% static 'js/add_remove_rows.js' %}"></script>

{% endblock content %}

{% block scripts %}

    <script>
    let leaf_html = undefined
    let medicine_list = undefined

        $(document).ready(function (){
            $("#payment_type").on('change', function (){
                let payment_type = $("#payment_type").val();
                if (payment_type  == 1){
                    $("#bank_div").addClass('d-none');
                    $("#bank_label").addClass('d-none');
                }
                else{
                    $("#bank_div").removeClass('d-none');
                    $("#bank_label").removeClass('d-none');
                }
            });

            /* Storing Leaf html from first Row in leaf_html variable.

            It will be inserted into box pattern column when AddRow (Plus button) is clicked. */

            leaf_html = $("#leaf_type_1").html()

            // Getting all the medicines of selected manufacturers.
            $("#manufacturer_id").on('change', function (){

                $(".product_rate").val('0.00')
                $(".mrp").val('0.00')


                let id = $("#manufacturer_id").val();
                if (id == 'default'){

                    $(".available_medicine").html('<option value="default"> Select Medicine </option>')

                }
                else{

                    let data = {
                         manufacturer_id: id,
                    }

                    $.ajax({
                    url: '{% url 'purchase:fetch-medicine' %}',
                    method: 'get',
                    data: data,
                    success: function (data){

                        // dictionary with medicine_id, medicine_name, strength received here.

                        let option = '<option value="default"> Select Medicine </option>'
                        for (let i in data){
                            let id = data[i]['id']
                            let name = data[i]['name']
                            let strength = data[i]['strength']

                            option += '<option value="' + id + '"> ' + name + ' ( ' + strength + ' ) </option>'
                        }
                        $(".available_medicine").html(option)

                        medicine_list = option
                        /*

                         Storing Medicine list from first Row for same reason.
                         used for adding new rows using Plus Button.

                         */

                    },
                    error: function (error){
                        console.log("Error Occurred. ")
                        console.log(error)
                    },
                })

                }

            });

        });

    </script>

    <script>


        $(document).on('change', '.available_medicine', function (){
            let row_number = $(this).attr('data-row')
            let medicine_id = $(this).val()

            let data = {
                medicine_id: medicine_id,
            }

            if (medicine_id == 'default'){
                $("#product_rate_"+row_number).val('0.00')
                $("#mrp_"+row_number).val('0.00')
            }
            else{
                $.ajax({
                   url: '{% url 'purchase:fetch_price' %}',
                   method: 'get',
                   data: data,
                   success: function (data){
                       console.log(data)
                       $("#product_rate_"+row_number).val(data['manufacturer_price'])
                       $("#mrp_"+row_number).val(data['box_price'])
                       $("#available_quantity_"+row_number).val(data['stock'])
                   },
                   error: function (error){
                       console.log(error)
                   }
                });
            }

        });


    </script>


    <script>

    let number_per_box = 0

    function calculate_line_total(input_field, row_id, value){

        row_id = parseInt(row_id.replace(/[^0-9.]/g, "")) // extracting number from string.

        let box_quantity = $("#box_quantity_"+row_id).val() || 0

        if (input_field == 'select'){

            let data = {
                    leaf_id: value
                }
            $.ajax({
                    url: '{% url 'purchase:fetch-quantity' %}',
                    method: 'get',
                    data: data,
                    success: function (data){
                        number_per_box = data['number_per_box']
                        box_quantity = $("#box_quantity_"+row_id).val() || 0


                        // Calculating total quantity & line total price
                        $("#quantity_"+row_id).val(parseInt(number_per_box) * box_quantity)
                        $("#total_price_"+row_id).val(parseInt($("#product_rate_"+row_id).val()) * box_quantity)


                        // Calculating Subtotal
                        calculate_subtotal();

                    },
                    error:function (error){
                        console.log(error)
                    }
                });

        }else{

            // Calculating total quantity & line total price
            $("#quantity_"+row_id).val(parseInt(number_per_box) * value)
            $("#total_price_"+row_id).val(parseInt($("#product_rate_"+row_id).val()) * value)

            // Calculating Subtotal
            calculate_subtotal();
        }

    }
    </script>

    <script>
        function calculate_subtotal(){
            let subtotal = 0

            $('.total_price').each(function(){
                 subtotal += parseFloat(this.value);
             });

            /// console.log(subtotal)

            $("#sub_total").val(subtotal);

            calculate_grand_total();

        }

        function calculate_grand_total(){
            let sub_total = $("#sub_total").val() || 0
            let vat = $("#vat").val() || 0
            let discount = $("#discount").val() || 0

            let grand_total = parseFloat(sub_total) + parseFloat(vat) - parseFloat(discount)
            $("#grandTotal").val(grand_total);

            calculate_due_amount();
        }

        function calculate_due_amount(){
            let grand_total = $("#grandTotal").val() || 0
            let paid_total = $("#paid_amount").val() || 0

            let due_amount = parseFloat(grand_total) - parseFloat(paid_total)

            $("#due_amount").val(due_amount);
        }

    </script>



{% endblock scripts %}