{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Designation List</title>
{% endblock title %}


{% block styles %}
{% endblock styles %}



{% block content %}

    {% include 'sidebar.html' %}

    <div class="content-wrapper" style="min-height: 201px;">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Dashboard</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard v1</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <span> {% include 'messages.html' %} </span>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="body-content px-3 py-3">


                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="card ">
                                <div class="card-header py-2">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <h6 class="fs-17 font-weight-600 mb-0">Designation List</h6>
                                        </div>
                                        <div class="text-right">
                                            <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#add_designation"
                                             ><i class="fa fa-plus mr-1"></i>Add Designation</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <div id="example_wrapper" class="dt-bootstrap4 no-footer">

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <table class="table display table-bordered table-striped table-hover custom-table no-footer"
                                                           id="example" role="grid" aria-describedby="example_info">
                                                        <thead>
                                                        <tr role="row">
                                                            <th class="sorting_asc" tabindex="0" aria-controls="example"
                                                                rowspan="1" colspan="1" aria-sort="ascending"
                                                                aria-label="Sl: activate to sort column descending"
                                                                style="width: 133px;">Sl
                                                            </th>
                                                            <th class="sorting" tabindex="0" aria-controls="example"
                                                                rowspan="1" colspan="1"
                                                                aria-label="Designation Name: activate to sort column ascending"
                                                                style="width: 445px;">Designation Name
                                                            </th>
                                                            <th class="sorting" tabindex="0" aria-controls="example"
                                                                rowspan="1" colspan="1"
                                                                aria-label="Status: activate to sort column ascending"
                                                                style="width: 219px;">Status
                                                            </th>
                                                            <th class="sorting" tabindex="0" aria-controls="example"
                                                                rowspan="1" colspan="1" aria-label="Action
                                                                    : activate to sort column ascending" style="width: 221px;">Action
                                                            </th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>

                                                            {% for designation in designations %}


                                                            <tr role="row">
                                                                <td>{{ forloop.counter }}</td>
                                                                <td>{{ designation.name }}</td>
                                                                <td>{{ designation.details }}</td>
                                                                <td>
                                                                    <button
                                                                       class="btn btn-success btn-sm"
                                                                       data-toggle="modal" data-target="#update_designation{{ designation.id }}" data-placement="left"
                                                                       title="Update"><i class="fas fa-edit"
                                                                                         aria-hidden="true"></i></button>

                                                                    {% include 'employee/modals/update_designation.html' %}

                                                                    <a href="{% url 'employee:remove_designation' designation.id %}"
                                                                       onclick="return confirm('Are You Sure?')"
                                                                       class="btn btn-danger btn-sm"
                                                                       data-toggle="tooltip" data-placement="left"
                                                                       title="Delete"><i class="far fa-trash-alt"
                                                                                         aria-hidden="true"></i></a>
                                                                </td>
                                                            </tr>
                                                            {% endfor %}


                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

    {% include 'employee/modals/add_designation.html' %}

{% endblock content %}


{% block script %}
{% endblock script %}