{% extends  'base.html' %}
{% load static %}
{% block title %}
    <title>Purchase Return</title>
{% endblock title %}


{% block styles %}
{% endblock styles %}

{% block content %}

    {% include 'sidebar.html' %}

    <div class="content-wrapper" style="min-height: 201px;">
        <!-- Content Header (Page header) -->
        {% include 'navbar.html' %}
        <!-- /.content-header -->

        <span> {% include 'messages.html' %} </span>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->

                <div class="body-content px-3 py-3">


                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="card">
                                <div class="card-header py-2">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <h6 class="fs-17 font-weight-600 mb-0 text-center">Return To
                                                Manufacturer</h6>
                                        </div>
                                        <div class="text-right">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form action="{% url 'return:return_purchase' %}"
                                          id="return_purchase" method="post" accept-charset="utf-8"> {% csrf_token %}

                                        {% csrf_token %}

                                        <input type="hidden" name="purchase_id" value="{{ object.purchase_id }}">

                                        <div class="row">
                                            <div class="col-sm-6" id="payment_from_1">
                                                <div class="form-group row">
                                                    <label for="product_name" class="col-sm-4 col-form-label">Manufacturer
                                                        Name <i class="text-danger"></i></label>
                                                    <div class="col-sm-8">
                                                        <input type="text" name="manufacturer_name" value="{{ object.manufacturer.name }}"
                                                               class="form-control" placeholder="Manufacturer Name"
                                                               required="" id="manufacturer_name" tabindex="1"
                                                               readonly="">
                                                        <input type="hidden" class="customer_hidden_value"
                                                               name="manufacturer_id" value="{{ object.manufacturer.id }}" id="SchoolHiddenId">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group row">
                                                    <label for="product_name" class="col-sm-4 col-form-label">Date <i
                                                            class="text-danger"></i></label>
                                                    <div class="col-sm-8">
                                                        <input type="text" tabindex="2" class="form-control"
                                                               name="return_date" value="{{ object.date }}" required=""
                                                               readonly="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table table-responsive">
                                            <table class="table table-bordered table-hover" id="purchase">
                                                <thead>
                                                <tr>
                                                    <th class="text-center">Medicine Name <i class="text-danger"></i>
                                                    </th>
                                                    <th class="text-center">Purchase QTY</th>
                                                    <th class="text-center">Stock</th>
                                                    <th class="text-center">Ret Qty <i class="text-danger">*</i></th>
                                                    <th class="text-center">Purchase Price <i class="text-danger"></i>
                                                    </th>
                                                    <th class="text-center">Deduction</th>
                                                    <th class="text-center">Total</th>

                                                </tr>
                                                </thead>
                                                <tbody id="addinvoiceItem">

                                                {% for item in object.purchase_items %}

                                                    <input type="hidden" name="batch_ids[]" value="{{ item.batch.id }}">
                                                    <input type="hidden" name="purchase_items_ids[]" value="{{ item.id }}">

                                                <tr>
                                                    <td class="" width="200px">
                                                        <input type="text" name="product_name" value="{{ item.batch.medicine }}({{ item.batch.medicine.strength }})"
                                                               class="form-control productSelection" required=""
                                                               placeholder="" id="product_name_{{ forloop.counter }}" tabindex="3"
                                                               readonly="">
                                                    </td>
                                                    <td>
                                                        <input type="text" name="ret_qty[]" id="batch_stock_{{ forloop.counter }}"
                                                               class="form-control text-right valid_number"
                                                               value="{{ item.batch.batch_stock }}" readonly="">

                                                    </td>
                                                    <td>
                                                        <input type="text" name="stocks"
                                                               class="form-control text-right"
                                                               id="sold_qty_{{ forloop.counter }}" value="{{ item.batch.current_stock }}" readonly="">
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                               onkeyup="calculate_total(this.id)"
                                                               onchange=""
                                                               class="form-control text-right valid_number"
                                                               id="total_qntt_{{ forloop.counter }}" min="0" placeholder="0.00"
                                                               tabindex="4">
                                                    </td>
                                                    <td>
                                                        <input type="text"
                                                               onkeyup=""
                                                               onchange=""
                                                               value="{{ item.batch.medicine.manufacturer_price_one }}" id="price_item_{{ forloop.counter }}"
                                                               class="price_item1 form-control text-right valid_number"
                                                               min="0" tabindex="5" required="" placeholder="0.00"
                                                               readonly="">
                                                    </td>

                                                    <td>
                                                        <input type="text"
                                                               onkeyup="calculate_line_deduction(this.id)"
                                                               onchange=""
                                                               id="deduction_{{ forloop.counter }}"
                                                               class="form-control text-right deductions"
                                                               placeholder="0.00" value="" min="0" tabindex="6">
                                                    </td>
                                                    <td>
                                                        <input class="line_totals form-control text-right" type="text"
                                                               id="total_price_{{ forloop.counter }}" value="0.00" readonly="readonly">

                                                    </td>

                                                </tr>

                                                {% endfor %}

                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <td colspan="5" rowspan="2">
                                                        <center><label class="text-center" for="details"></label>
                                                        </center>
                                                        <textarea class="form-control" name="details" id="details"
                                                                  placeholder=""></textarea> <br>
                                                        <input type="radio" checked="checked" name="radio" value="2">
                                                        <label class="ab">Return To Manufacturer </label><br>
                                                        <input type="radio" name="radio" value="3">
                                                        <label class="ab">Wastage </label>
                                                    </td>
                                                    <td class="text-right" colspan="1">
                                                        <b>Total Deduction:</b></td>
                                                    <td class="text-right">
                                                        <input type="text" id="total_deduction_amount"
                                                               class="form-control text-right valid_number"
                                                               name="total_discount" value="0.00" readonly="readonly">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="1" class="text-right"><b>Net Return :</b></td>
                                                    <td class="text-right">
                                                        <input type="text" id="grandTotal"
                                                               class="form-control text-right valid_number"
                                                               name="grand_total_price" value="0.00" readonly="readonly">
                                                    </td>

                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                        <div class="form-group row">
                                            <label for="example-text-input" class=" col-form-label"></label>
                                            <div class="col-sm-12 text-right">
                                                <input type="submit" id="add_invoice" class="btn btn-success btn-large"
                                                       name="pretid" value="Return" tabindex="8">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </section>
    </div>

{% endblock content %}

{% block scripts %}

    <script>

        function calculate_total(row_id){

            row_id = parseInt(row_id.replace(/[^0-9.]/g, "")) // Extracting Number from String.

            let return_qntt = $("#total_qntt_"+row_id).val()
            let sold_quantity = parseInt($("#sold_qty_"+row_id).val()) || 0

            if (return_qntt > sold_quantity){
                alert("You can't return more than "+ sold_quantity.toFixed(1))
                $("form#return_invoice")[0].reset()
            }
            else{

                let item_price = parseFloat($('#price_item_'+row_id).val())  || 0

                let total_price = item_price * return_qntt

                $("#total_price_"+row_id).val(total_price.toFixed(2))

                calculate_line_deduction(row_id.toString()); // If someone give percentage before & Return Quantity later.
            }
        }

    </script>

    <script>

        function calculate_line_deduction(row_id){
            row_id = parseInt(row_id.replace(/[^0-9.]/g, "")) // Extracting Number from String.
            let percentage = parseFloat($("#deduction_"+row_id).val()) || 0

            if (percentage > 100){
                alert("Deduction (%) can't be greater than 100. ")
                $("#deduction_"+row_id).val('0.00')
                percentage = parseFloat($("#deduction_"+row_id).val()) || 0
            }

            let return_qntt = $("#total_qntt_"+row_id).val()
            let item_price = parseFloat($('#price_item_'+row_id).val())  || 0
            let total_price = item_price * return_qntt
            let line_deduction = ( total_price * percentage ) / 100
            let new_total = total_price - line_deduction
            $("#total_price_"+row_id).val(new_total.toFixed(2));

            calculate_total_deduction();
        }
    </script>


    <script>

        function calculate_total_deduction(){
            let total_deductions = 0
            $('.deductions').each(function (){
                let row_id = this.id
                row_id = parseInt(row_id.replace(/[^0-9.]/g, ""))

                let percentage = parseFloat($(this).val()) || 0

                let return_qntt = $("#total_qntt_"+row_id).val()
                let item_price = parseFloat($('#price_item_'+row_id).val())  || 0
                let total_price = item_price * return_qntt


                let line_deduction = (total_price * percentage) / 100
                total_deductions  += line_deduction
            })

            // Changing Corresponding Fields
            $("#total_deduction_amount").val(total_deductions.toFixed(2));

            calculate_net_return()
        }

    </script>


    <script>

        function calculate_net_return(){
            let total_price = 0
            $('.line_totals').each(function (){
                let line_total = parseFloat($(this).val()) || 0
                total_price += line_total
            });

            $("#grandTotal").val(total_price.toFixed(2));
        }

    </script>

{% endblock scripts %}